.input-control {
  width: 300px;
  margin-bottom: .8rem;

  &__label {
    display: block;
    margin-bottom: .2rem;
  }

  &__input {
    width: 100%;
  }

  &__errors {
    min-height: 1rem;
    margin-top: .4rem;
    line-height: 1rem;
    font-size: .8rem;
    color: red;
  }
}
