<div class="input-control">
  <label class="input-control__label">{{ label() + (control.hasValidator(Validators.required) ? '*' : '') }}</label>
  @switch (type()) {
    @case ('password') {
      <input class='input-control__input' type="password" (input)="onValueChange($event)" [value]="value" />
    }
    @default {
      <input class='input-control__input' type="text" (input)="onValueChange($event)" [value]="value" />
    }
  }
  <section class="input-control__errors">
    @if (this.touched && this.control.invalid) {
      <span>
        @if (this.control.hasError('required')) {
          This field is required.
        } @else if (this.control.hasError('email')) {
          Incorrect e-mail address.
        }
      </span>
    }
  </section>
</div>
