@use '../styles/variables';

.main-header {
  padding: 4rem;
  background-color: variables.$primary-color;
  color: black;
  text-transform: uppercase;
  text-align: center;

  &__language-button {
    margin: .4rem 1rem;
    cursor: pointer;

    &:hover, &--current {
      font-weight: bold;
    }
  }
}

.main-content {
  &__wrapper {
    margin: 2rem 4rem 8rem 4rem;
  }
}

.main-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 2rem;
  background-color: variables.$primary-color;
  color: black;
  text-align: center;

  a {
    text-decoration: none;
    font-weight: bold;
    color: black;
  }
}
