@import './../styles/variables';

.main-header {
  padding: 4rem;
  background-color: $primary-color;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

.main-content {
  &__wrapper {
    margin: 2rem 4rem 8rem 4rem;
  }
}

.main-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 2rem;
  background-color: $primary-color;
  color: white;
  text-align: center;

  a {
    text-decoration: none;
    color: black;
  }
}
